<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Adding</title>
</head>
<body>
<h1>Wyszukujesz post, którego tytuł zawiera wprowadzoną frazę:  </h1>


<div > Wyszukiwana fraza to : <span th:text="${phrase}"></span></div>

<div th:each="post:${posts}">

    <!--  .added -> .getAdded() -->
    <div th:text="${post.added}"> 2018-08-19  09:42</div>
    <a th:href="@{/posts/} + ${post.id}"><h2 th:text="${post.title}">Tytuł posta</h2></a>
    <a th:href="@{/posts/{postId}(postId = ${post.id})}">LINK</a>

    <p th:text="${post.content}">Treść posta</p>
</div>


</body>
</html>